*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:1.2em/1.5 sans-serif;
    padding: 10%;
}
a{
    text-decoration: none;
    color:#222;
}
li{
    list-style: none;
}

.entrada{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 1em;
}
h3{
    font-size: .9em;
    color:#333;
}
p{
    font-size: .8em;
    color:#666;
}

